:root {
  font-family: "Poppins";
  --primary: #54bca4;
  --font: #1a2c24;
  --yellow: #f8d95f;
}

body {
  font-family: "Poppins";
}

.singkatan {
  color: var(--primary);
}

.main-title {
  color: var(--font);
}

.offcanvas-body {
  align-items: center;
}

.nav-item {
  padding-right: 40px;
}

.nav-link active {
  color: var(--primary);
}

.nav-link {
  color: #5f6d7e;
}

.nav-link:hover {
  color: var(--primary);
}

.btndaftar {
  align-items: center;
  border-color: var(--primary);
  color: var(--primary);
  border-radius: 32px;
  padding: 10px 20px;
  font-weight: bold;
}

.btnmasuk {
  align-items: center;
  background-color: var(--primary);
  color: white;
  border-radius: 32px;
  padding: 10px 20px;
  font-weight: bold;
}

.btndaftar:hover {
  background-color: #eefcf3;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btnmasuk:hover {
  background-color: #a6ddcf;
  color: #ffffff;
  border: 1px solid;
}

.btncek {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: var(--primary);
  text-decoration: none;
  color: white;
}

footer {
  background-color: #1b443b;
}
.footericons a {
  font-size: 2rem;
  color: white;
}

/* list artikel */

.judul-list-artikel {
  font-size: 44px;
}

.text-warna {
  color: var(--primary);
}

.hero-artikel-content a {
  margin-top: 12px;
  font-size: 18px;
}

.hero-artikel-content h6 {
  font-size: 20px;
  font-weight: bold;
}

.hero-artikel-deskripsi {
  font-size: 20px;
  margin-top: 12px;
}

.hero-artikel-image img {
  width: 800px;
  height: 450px;
  object-fit: cover;
  border-radius: 16px;
}

.artikel {
  margin-top: 100px;
}

.artikel-filter .button-group {
  margin-top: 80px;
  gap: 50px;
}

.artikel-filter button {
  align-items: center;
  background-color: white;
  border-radius: 32px;
  padding: 12px 16px;
  font-size: 18px;
  width: 200px;
  height: 50px;
  color: var(--primary);
  border: solid 1px var(--primary);
}

.artikel-filter button:hover {
  background-color: #eefcf3;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.artikel-list {
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  border: none;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card-image {
  float: inline-end;
}

.card-image img {
  width: 491px;
  height: 320px;
  object-fit: cover;
  border-radius: 16px;
}

.card-body {
  padding-top: 32px;
  padding-bottom: 32px;
}

.card-body .jenis-artikel {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary);
}

.card-body .card-title {
  font-size: 32px;
}

.card-body .card-text {
  font-size: 20px;
  margin-top: 12px;
  text-align: justify;
}

.card-body .card-link {
  font-size: 18px;
  color: var(--primary);
}

.card-footer {
  background-color: white;
  border: none;
  font-size: 18px;
}

.pagination {
  gap: 30px;
  margin-bottom: 100px;
}

.pagination .page-link {
  background-color: white;
  border: solid 1px var(--primary);
  color: var(--primary);
  border-radius: 8px;
  font-size: 24px;
  padding: 12px;
  width: 60px;
  height: 60px;
}

.pagination .page-link:hover {
  background-color: #eefcf3;
  color: var(--primary);
  border: 1px solid var(--primary);
}
