.hero-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.text-warna {
  color: #54bca4;
}

.text-justify {
  text-align: justify;
}

.icon-artikel a {
  font-size: 2rem;
  color: #263238;
}
